<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Weather Forecast</title>
</head>
<body>
	<form action="/" method="post">
		<label for="cityInput">Enter city name : </label>
		<input type="text" id="cityInput" name="cityName">
		<br>
		<button type="submit">Submit</button>
	</form>

    <h1>CITY : <%= city %> </h1>
    <p>Current weather description is : <%= weatherDescription %></p>
    <h1>Temperature is : <%= temp %> degrees celsius.</h1>
</body>
</html>
